body{
    margin: 5%;
}
div{
    width: 50%;
    margin: 0 auto;
    background-color: beige;
}
.center{
    text-align: center;
}
h1{
    border:solid 1px black;
    width: 80%;
    margin: 0 auto;
}
.img{
    border: solid 1px black;
    text-align: center;
    padding: 40% 5% 40% 5%;
}